/*controlStyle.css */
 
.scene{
    -fx-font: 14.0pt "Cambria Bold";
    -fx-color: #e79423;
    -fx-background: #67644e;
    
}
 
.button  {
    -fx-border-radius: 20.0;
    -fx-background-radius: 20.0;
  
}


/*Table ohne Überschrift */
.noheader .column-header-background {
    -fx-max-height: 0.0;
    -fx-pref-height: 0.0;
    -fx-min-height: 0.0;
}


.h1{
	-fx-font: NORMAL 20.0 "Tahoma";
}

.h2{
	-fx-font: NORMAL 15.0 "Tahoma";
	-fx-padding: 15.0 ;
}

.text-field {
    -fx-padding: 5.0px;
  
}

.long{-fx-pref-width:180.0px;  -fx-width:180.0px;}
.medium{-fx-pref-width:120.0px; -fx-width:180.0px; }
.small{-fx-pref-width:50.0px; -fx-width:180.0px; }
.solidblackborder{ -fx-border-color: black; -fx-padding: 15.0 ;}



.breadcrumb{
	/*-fx-cursor:hand;*/
	-fx-spacing:12.0px;
	-fx-font: 12.0pt "Cambria Bold";

}

.borderSolid{
		-fx-border-style:	solid ;
	
}

.screen {
  -fx-padding: 30.0px 0.0 10.0px;
}

.screen-canvas {
  -fx-arc-width: 6.0px;
  -fx-arc-height: 6.0px;
  -fx-fill: #9365B8;
  -fx-stroke: #553982;
}

.seat {
  -fx-arc-width: 4.0px;
  -fx-arc-height: 4.0px;
  -fx-fill: #a5a5a5;
  -fx-stroke: #8b8b8b;
}
.seat:hover {
  -fx-effect: dropshadow(gaussian, #54acd2, 1.0, 1.0, 0.0, 0.0);
}

.seat-selected {
  -fx-fill: #61bd6d;
  -fx-stroke: #41a85f;
}

.seat-reserved {
  -fx-fill: #2c82c9;
  -fx-stroke: #2969b0;
}

.seat-reserved:hover {
  -fx-effect: none;
}

.seat-sold {
  /*-fx-fill: #d14841;*/
  /*-fx-stroke: #B8312F;*/	
  /*-fx-background-color: skyblue, derive(skyblue, 25%);*/	
  -fx-background-insets: -20.0, -10.0;
  /*-fx-background-image: url("/ch/ffhs/kino/images/FSK_ab_16.png");*/	
  -fx-background-image: url("/images/FSK_ab_16.png");
  -fx-background-position: left top, center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
}

.seat-sold:hover {
  -fx-effect: none;
}

.legend-label {
  -fx-pref-height: 20.0px;
  -fx-padding: 0.0 0.0 0.0 10.0px;
}

.button-primary {
  -fx-base: #2C82C9;
  -fx-text-fill: #fff;
}

#content{
		-fx-padding: 15.0 ;   
		-fx-background-repeat: stretch;   
		
		
} 

.infoLabel{
	-fx-font-weight: bold;
}

.table-row-cell:selected {
   -fx-background-color: #FFE4e1; 
}



.table-row-cell:selected .text {
       -fx-fill: #800000  ;

}

#content{
		-fx-padding: 15.0 ;   
		-fx-background-repeat: stretch;   
} 


#ODD{
	-fx-background-color: blue;
}
#EVEN{
	-fx-background-color: green;
}
